$color-primary: #f1cdb3;
$color-dark: #4c4c4c;
$color-white: #ffffff;
$background-dark: #f6f6f6;

$grey: #545454;
$color-titles: $grey;
$button-text: #292929;
$button-hovered: #fddcc4;

// $button-hovered-border: #fddcc4;

$color-grey-light: #cdcdcd;
// $nav-link-active: #f1cdb3;
$color-link-dark-active: #fafafa;

$color-link-light-active: $grey;
$color-link-light-hover: $button-text;

$color-hamburger: $color-primary;
$color_hamburger-light: #000000;

$color-text: $color-grey-light;
$color-addition_text: #b2b2b2;
// $laptop-width: 1024px;
// $tablet-width: 768px;
// $mobile-big-width: 414px;
// $mobile-small-width: 320px;
$color-overlay: rgba(41, 41, 41, 0.6);
$color_popup-text: $color_hamburger-light;
$popup_background: $color-link-dark-active;
