%transition {
  transition: all 0.3s ease-out;
}
%transition-long {
  transition: all 0.7s ease-out;
}

%font-prim {
  font-family: "Arial", Verdana, sans-serif;
}

%font-add {
  font-family: "Georgia", Verdana, sans-serif;
}
