@font-face {
  font-family: "Georgia";
  src: url("../fonts/georgia/Georgia.woff2") format("woff2"),
    url("../fonts/georgia/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../fonts/arial/arial-regular.woff2") format("woff2"),
    url("../fonts/arial/arial-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
