.popup {
  position: relative;
  width: 900px;
  min-height: 500px;
  @extend %transition;
  z-index: 1000;
  border-radius: 9px;
  &:hover {
    box-shadow: 0px 2px 35px 14px;
  }
  @include media-laptop {
    width: 630px;
    min-height: 350px;
  }
  @include media-tablet {
    width: 240px;
    min-height: 341px;
    text-align: center;
  }
}
.popup__content {
  display: flex;
  justify-content: center;
  background-color: $popup_background;
  // align-items: center;
}

.content__img {
  width: 55%;
  height: 100%;
  overflow: hidden;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  @include media-tablet {
    display: none;
  }
}
.content__list {
  display: flex;
  flex-direction: column;
  // column-gap: 10px;
  padding: 50px 15px 0 36px;
  justify-content: start;
  width: 45%;
  color: $color_popup-text;
  box-sizing: border-box;
  margin: 0;
  @include media-laptop {
    padding: 10px 9px 0 14px;
  }
  @include media-tablet {
    width: 100%;
    padding: 10px 10px 10px 10px;
  }
}
.list__name {
  margin-bottom: 10px;
}
.list__description {
  margin-top: 40px;
  margin-bottom: 39px;
  @include media-laptop {
    margin-top: 20px;
    margin-bottom: 20px;
    > h4 {
      @include font($size: 1.3rem, $height: 1.43rem, $weight: normal);
      letter-spacing: 0.06em;
    }
    @include media-tablet {
      text-align: justify;
    }
  }
}
.info__item > span {
  @extend %font-add;
  @include font($size: 1.5rem, $height: 1.65rem, $weight: normal);
  letter-spacing: 0.06em; /*calc(1em*6%/100%)*/
  color: $color-titles;
  margin-bottom: 10px;
}
.list__info {
  list-style: inside;
  @include media-tablet {
    text-align: left;
  }
}
.info__item::marker {
  color: $color-primary;
}
.popup__close-icon {
  position: absolute;
  width: 52px;
  height: 52px;
  padding: 13px 18px;
  right: -44px;
  top: -52px;
  border: 2px solid $color-primary;
  border-radius: 100px;
  cursor: pointer;
  color: $button-text;
  @extend %transition;
  z-index: 10;
  &:hover {
    background-color: $button-hovered;
  }
  @include media-mobilesmall {
    right: -30px;
  }
}
